{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} ">{{message}}</div>
{% endfor %}
{% endif %}
{% endwith %}

{% if 'current_user' in session %}
<h1 class="display-1">You're already logged in!</h1>
<a href="/secret">Go back</a>
{% endif %}

{% if 'current_user' not in session %}
<div class="container">
    <div class="row text-center">
        <div class="col mb-3">
            <h1 class="display-1 m">Register</h1>
            <small class="text-secondary">Already have an account? Log in <a href="/login">here</a>.</small>
        </div>
    </div>
    <form method="POST">
        {{form.hidden_tag()}}
        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <div class="row justify-content-center">
            <div class="col-6 mb-2">
                {{field.label (class_='form-label')}}
                {{field (class_='form-control')}}

                {% for error in field.errors %}
                <small class="text-danger">{{error}}</small>
                {% endfor %}
            </div>
        </div>

        {% endfor %}
        <div class="row text-center">
            <div class="col mt-3">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div>
{% endif %}
{% endblock %}